.main {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 400px) 400px;
  padding: 2rem 6rem;
  column-gap: 2rem;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main {
    grid-template-columns: calc(100% - 300px) 300px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .main {
    grid-template-columns: calc(100% - 280px) 280px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: none;
    padding: 2rem;
  }
}
