.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}

.links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.link {
  color: #fff;
}

.linkIcon {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer svg {
  font-size: 30px;
}

.copyright {
  margin-top: 1rem;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 11.7039px;
  font-weight: 600;
  letter-spacing: 00.08em;
}

.contact {
  margin: 2rem 0 0 0;
  width: 40%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 24px;
  font-style: normal;
  color: #025b5d;
  margin: 1rem 0;
}

.phone {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 00.08em;
  font-weight: 400;
  color: #464646;
  margin: 5px 0;
}

@media screen and (min-width: 1025px) {
  .links {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .links {
    width: 80%;
  }
}

.links {
  row-gap: 1rem;
}

.phone {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .links {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .phone {
    font-size: 12px;
  }
}
