.quickLinks {
  width: 100%;
  margin: 5rem 0;
  background: #fff;
}

.quickLinks h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .quickLinks h2 {
    font-size: 26px;
  }
}
